* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  height: 100vh;
}

.sec1 {
  background: url(../img/background4.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.sec2 {
  background: url(../img/background5.jpg) no-repeat fixed center center;
  background-size: cover;
}

.sec3 {
  background: url(../img/background6.jpg) no-repeat fixed center center;
  background-size: cover;
}

.sec4 {
  background: url(../img/background7.jpg) no-repeat fixed center center;
  background-size: cover;
}

.sec-text {
  width: 100%;
  height: 200px;
}
