// MAPAS
// Son objetos con un contenido propiedad-valor.
// En vez de acceder a una posición para obtener su valor, accedo a una propiedad para obtener su valor.

//* Importo el módulo
@use "sass:map";

//* Declaración
$titulos: (
  h1: 40px,
  h2: 30px,
  h3: 20px,
  h4: 15px,
  h5: 10px,
  h6: 8px
);

$colores: (
  azul: blue,
  rojo: red,
  verde: green
);

//* Acceder a elementos del mapa
h1 {
  font-size: map.get($titulos, h1);
  color: map.get($colores, azul);
} 

//* Unir elementos de dos mapas
$titulosColores: map.merge($titulos, $colores);

h1 {
  font-size: map.get($titulosColores, h1);
  color: map.get($titulosColores, verde);
}

//* Eliminar elementos de un mapa
$nuevoTitulo: map.remove($titulos, h1, h2);

h1 {
  // Si indico h1, no lo carga, pero no falla.
  // Ver su CSS para confirmar que no lo carga.
  font-size: map.get($nuevoTitulo, h4);
}
