@use "mixin" as m;
@use "variables" as v;

//* OVERLAY
.overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
} 

//* ICONOS
// Aquí aplicamos estilos, pero no tamaños (ver _about.scss)
.icons {
  @include m.dflex(space-between, center, row nowrap);
  
  a {
    @include m.dflex(center, center, row nowrap);
    background: v.$color-primario;
    border-radius: 50%;
    color: v.$white;
    transition: all .5s;

    &:hover {
      background: v.$color-primario-dark;
    }
  }
} 

//* BOTONES
.btn {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all .5s;
}

.btn-white {
  @extend .btn;
  @include m.btn(v.$white, v.$color-primario);

  &:hover {
    background: v.$color-primario-dark;
    color: v.$white;
  }
}
