* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

/* MENU LATERAL */
nav {
  /* Posición fija en mi página web */
  position: fixed;
  top: 0;
  left: 0;

  width: 60px;
  /* Con un height de 100vh evitamos scroll */
  height: 100vh;
  background: #111;
}

.contenedor-imagen {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.logo {
  /* Con este width la imagen se acopla al contenedor. Había perdido el acople
  en .contenedor-imagen, propiedad align-items: center */
  width: 100%;
}

.enlaces {
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #38a6d1;
}

.btn-inferior {
  /* En vez de aplicar flex, posicionamos a capón usando position: absoluto y bottom: 0 */
  position: absolute;
  bottom: 0;
}

.btn-inferior:hover {
  background: #dc3545;
  color: #fff;
}

/* MENU SUPERIOR */
header {
  width: 100%;
  height: 50px;
  padding: 0 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid #f5f5f5;
}

header p {
  font-size: 1.2em;
  font-style: italic;
  letter-spacing: 1px;
  font-weight: 600;
}

header .info-user {
  display: flex;
  align-items: center;
}

header .info-user span {
  /* Hacerlo relative me sirve luego para el circulito rojo */
  position: relative;
  width: 35px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Para separarlo de la imagen */
  margin: 0 15px;

  font-size: 1.2em;
  color: #4b4b4b;
  cursor: pointer;
}

/* Este es el circulito rojo que indica que hay una notificación */
header .info-user span::after {
  content: '';
  position: absolute;
  top: 4px;
  right: 8px;
  width: 7px;
  height: 7px;
  background: #dc3545;
  border-radius: 50%;
}

header .info-user .container-imagen {
  position: relative;
  cursor: pointer;
}

header .info-user .container-imagen img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

/* Este es el circulito verde que indica que el usuario está conectado */
header .info-user .container-imagen::after {
  content: '';
  position: absolute;
  bottom: 3px;
  right: 0px;
  width: 12px;
  height: 12px;
  background: #37e920;
  border-radius: 50%;
}

/* SOCIALES */
.sociales {
  /* Queremos que esté al final de forma fija */
  position: fixed;
  bottom: 30px;
  right: 30px;

  display: flex;
}

.sociales .icon {
  margin: 0 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  cursor: pointer;
}

.sociales .icon span {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 50%;

  /* Esto se podía haber centrado con flexbox, pero se hace a la manera antigua */
  text-align: center;
  line-height: 50px;

  font-size: 20px;
}

.sociales .icon .tooltip {
  /* El tooltip me lo llevaré de abajo a arriba */
  position: absolute;
  top: 0;

  background: #ccc;
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 600;

  /* Para que no se vea el tooltip hasta que se haga hover */
  opacity: 0;
  transition: all 0.5s;

  /* Para evitar que tenga el error del hover sobre el tooltip */
  pointer-events: none;
}

.sociales .icon:hover .tooltip {
  top: -60px;

  /* Para que se vea el tooltip al hacer hover */
  opacity: 1;
}

/* Flecha del tooltip (es un rombo) */
.sociales .icon .tooltip::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: #ccc;

  /* Para que lo termine de centrar y lo rote */
  transform: translateX(-50%) rotate(45deg);

  transition: all 0.5s;
}

.sociales .facebook:hover span,
.sociales .facebook:hover .tooltip,
.sociales .facebook:hover .tooltip::before {
  background: #3b5999;
  color: #fff;
}

.sociales .twitter:hover span,
.sociales .twitter:hover .tooltip,
.sociales .twitter:hover .tooltip::before {
  background: #46c1f6;
  color: #fff;
}

.sociales .instagram:hover span,
.sociales .instagram:hover .tooltip,
.sociales .instagram:hover .tooltip::before {
  background: #e1306c;
  color: #fff;
}

.sociales .youtube:hover span,
.sociales .youtube:hover .tooltip,
.sociales .youtube:hover .tooltip::before {
  background: #dc3545;
  color: #fff;
}
