body {
  background: #1c7fbd;
}

div {
  width: 20%;
  margin: 200px auto;

  position: relative;
}

input {
  width: 100%;
  height: 30px;
  border: 1px solid #dedede;
  border-radius: 5px;

  padding-left: 50px;
}

i {
  position: absolute;
  top: 10px;
  left: 20px;

  color: #1c7fbd;
}
