* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: #112d42;
}

/* Obtenemos el segundo color del section usando un pseudoelemento */
section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4;
}

.container {
  position: relative;
  width: 1100px;
  height: 550px;
  z-index: 1;

  display: flex;
}

h2 {
  font-weight: 24px;
  font-weight: 600;
}

/* INFO */
.info {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background: #0f3959;
  z-index: 1;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.5);
}

.info h2 {
  color: #fff;
}

.info-text {
  margin: 20px 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item {
  display: flex;
  cursor: pointer;
}

.item span {
  color: rgba(255, 255, 255, 0.5);
}

.item:hover span {
  color: rgba(255, 255, 255, 1);
}

.item span:nth-child(1) {
  font-size: 30px;
  /* Al asignar tamaño se separa el icono del texto de una forma uniforme */
  width: 25px;
  margin-right: 30px;
}

.sociales {
  /* Al aplicar un ancho dejamos espacio para que space-between actúe */
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.sociales a {
  text-decoration: none;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.5);
}

.sociales a:hover {
  color: rgba(255, 255, 255, 1);
}

/* FORM */

.form {
  /* El form ocupa el espacio del contenedor que quiero */
  position: absolute;
  width: calc(100% - 200px);
  height: 100%;
  background: #fff;
  margin-left: 150px;

  /* Posición base de la info del formulario */
  padding: 70px 50px 70px 250px;

  /* Sombra al contenedor */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.form h2 {
  color: #0f3959;
}

.form-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 30px;
}

.input-box {
  position: relative;
  margin-bottom: 35px;
}

/* Tamaño de los elementos */
.input-box.w50 {
  /* Doy un poco menos de tamaño para que se separe un poco */
  width: 48%;
}

.input-box.w100 {
  width: 100%;
}

/* Asignamos tamaño a los input y textarea para que el width de .input-box.w50 y .input-box.w100 funcione */
.input-box input,
.input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;

  /* Para que no cambie el tamaño del textarea */
  resize: none;
}

.input-box textarea {
  /* Para hacer el textarea un poco más grande */
  min-height: 120px;
}

/* Colocamos el texto dentro de los input, como si fuera un placeholder */
.input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: #888;

  /* Esta propiedad me permite controlar el evento de click en el elemento.
  Con el valor none indico que el click en span no lo toma en cuenta,
  con lo que el click se hace realmente en el input, que es lo que quiero */
  pointer-events: none;

  transition: all 0.5s;
}

/* Al hacer focus en el input, llevamos el hermano span adyacente arriba */
/* Con valid, si el input tiene datos, también aplica estos estilos */
.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #03a0f4;
}

.input-box.btn {
  display: flex;
  justify-content: flex-end;
}

/* Solo para el input de tipo submit (el botón) */
.input-box input[type='submit'] {
  cursor: pointer;
  background: #0f3959;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
  border: none;
  width: 30%;
  padding: 12px;

  transition: all 0.5s;
}

.input-box input[type='submit']:hover {
  background: #03a9f4;
}
