* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  margin-top: 15px;
}

.row {
  display: flex;
  padding: 5px;
  /* Necesario para hacerlo responsive. Cuando los elementos no tengan espacio se acoplarán. */
  flex-wrap: wrap;
}

.column {
  /* Aplicamos tamaño a cada columna */
  flex: 25%;
  padding: 5px;
}

/** MEDIA QUERY */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 400px) {
  .column {
    flex: 100%;
  }
}
