@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.container {
  max-width: 90%;
  width: 1200px;
  margin: 20px auto;
  overflow: hidden;
}

.container-full {
  width: 100%;
  padding: 0 40px;
}

/*
  Warning: You probably don't mean to use the color value indigo in interpolation here.
  It may end up represented as indigo,
  which will likely produce invalid CSS. Always quote color names when using them as strings or map keys (for example, "indigo"). If you really want to use the color value here,
  use '"" + $nombre' .
*/
.text-primary {
  color: #0D6EFD;
}

.text-primary:hover {
  color: rgb(1.3442622951, 66.5409836066, 162.6557377049);
}

.text-secondary {
  color: #6C757D;
}

.text-secondary:hover {
  color: rgb(60.7210300429, 65.7811158798, 70.2789699571);
}

.text-success {
  color: #198754;
}

.text-success:hover {
  color: rgb(9.0625, 48.9375, 30.45);
}

.text-info {
  color: #0DCAF0;
}

.text-info:hover {
  color: rgb(7.7588932806, 120.5612648221, 143.2411067194);
}

.text-warning {
  color: #FFC107;
}

.text-warning:hover {
  color: #a07800;
}

.text-danger {
  color: #DC3545;
}

.text-danger:hover {
  color: rgb(145.746835443, 25.253164557, 36.7974683544);
}

.text-light {
  color: #F8F9FA;
}

.text-light:hover {
  color: rgb(188.5, 198, 207.5);
}

.text-dark {
  color: #212529;
}

.text-dark:hover {
  color: hsl(210, 10.8108108108%, -5.4901960784%);
}

.text-white {
  color: #FFF;
}

.text-white:hover {
  color: #cccccc;
}

.text-black {
  color: #000;
}

.text-black:hover {
  color: hsl(0, 0%, -20%);
}

.text-indigo {
  color: #6610f2;
}

.text-indigo:hover {
  color: rgb(61.2857142857, 8.0476190476, 147.9523809524);
}

.text-gray-100 {
  color: #f8f9fa;
}

.text-gray-200 {
  color: #e9ecef;
}

.text-gray-300 {
  color: #dee2e6;
}

.text-gray-400 {
  color: #ced4da;
}

.text-gray-500 {
  color: #adb5bd;
}

.text-gray-600 {
  color: #6c757d;
}

.text-gray-700 {
  color: #495057;
}

.text-gray-800 {
  color: #343a40;
}

.text-gray-900 {
  color: #212529;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  line-height: 27px;
}

.fs-xs {
  font-size: 8px;
}

.fs-s {
  font-size: 12px;
}

.fs-normal {
  font-size: 16px;
}

.fs-m {
  font-size: 18px;
}

.fs-lg {
  font-size: 24px;
}

.fs-xl {
  font-size: 40px;
}

.fs-xxl {
  font-size: 60px;
}

.display-1 {
  font-weight: 700;
  font-size: 64px;
}

.display-2 {
  font-weight: 700;
  font-size: 54px;
}

.display-3 {
  font-weight: 700;
  font-size: 44px;
}

.bg-primary {
  color: #0D6EFD;
}

.bg-secondary {
  color: #6C757D;
}

.bg-success {
  color: #198754;
}

.bg-info {
  color: #0DCAF0;
}

.bg-warning {
  color: #FFC107;
}

.bg-danger {
  color: #DC3545;
}

.bg-light {
  color: #F8F9FA;
}

.bg-dark {
  color: #212529;
}

.bg-white {
  color: #FFF;
}

.bg-black {
  color: #000;
}

.bg-indigo {
  color: #6610f2;
}

.bg-gray-100 {
  color: #f8f9fa;
}

.bg-gray-200 {
  color: #e9ecef;
}

.bg-gray-300 {
  color: #dee2e6;
}

.bg-gray-400 {
  color: #ced4da;
}

.bg-gray-500 {
  color: #adb5bd;
}

.bg-gray-600 {
  color: #6c757d;
}

.bg-gray-700 {
  color: #495057;
}

.bg-gray-800 {
  color: #343a40;
}

.bg-gray-900 {
  color: #212529;
}

.grid {
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
}

.col-1 {
  grid-template-columns: repeat(1, 1fr);
}

.span-1 {
  grid-column: span 1;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.span-2 {
  grid-column: span 2;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.span-3 {
  grid-column: span 3;
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.span-4 {
  grid-column: span 4;
}

.col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.span-5 {
  grid-column: span 5;
}

.col-6 {
  grid-template-columns: repeat(6, 1fr);
}

.span-6 {
  grid-column: span 6;
}

.col-7 {
  grid-template-columns: repeat(7, 1fr);
}

.span-7 {
  grid-column: span 7;
}

.col-8 {
  grid-template-columns: repeat(8, 1fr);
}

.span-8 {
  grid-column: span 8;
}

.col-9 {
  grid-template-columns: repeat(9, 1fr);
}

.span-9 {
  grid-column: span 9;
}

.col-10 {
  grid-template-columns: repeat(10, 1fr);
}

.span-10 {
  grid-column: span 10;
}

.col-11 {
  grid-template-columns: repeat(11, 1fr);
}

.span-11 {
  grid-column: span 11;
}

.col-12 {
  grid-template-columns: repeat(12, 1fr);
}

.span-12 {
  grid-column: span 12;
}

@media screen and (max-width: 1024px) {
  .col-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .span-lg-1 {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .span-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .span-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .span-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .span-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .span-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .span-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .span-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .span-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .span-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .span-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .span-lg-12 {
    grid-column: span 12;
  }
}
@media screen and (max-width: 720px) {
  .col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .span-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .span-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .span-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .span-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .span-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .span-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .span-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .span-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .span-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .span-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .span-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .span-md-12 {
    grid-column: span 12;
  }
}
@media screen and (max-width: 480px) {
  .col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .span-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .span-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .span-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .span-sm-4 {
    grid-column: span 4;
  }
  .col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .span-sm-5 {
    grid-column: span 5;
  }
  .col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .span-sm-6 {
    grid-column: span 6;
  }
  .col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .span-sm-7 {
    grid-column: span 7;
  }
  .col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .span-sm-8 {
    grid-column: span 8;
  }
  .col-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .span-sm-9 {
    grid-column: span 9;
  }
  .col-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .span-sm-10 {
    grid-column: span 10;
  }
  .col-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .span-sm-11 {
    grid-column: span 11;
  }
  .col-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .span-sm-12 {
    grid-column: span 12;
  }
}

/*# sourceMappingURL=framework.css.map */
