/* La fuente se ha importado en VSCode, usando Cmd+Ship+P, seleccionando Google Fonts: Insert CSS @Import y seleccionado la fuente de letra Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

/** VARIABLES */
:root {
  --color-primario: #0d6efd;
  --color-secundario: #0b5ed7;
  --color-oscuro: #122936;
}

/** GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}

h1.title {
  text-align: center;
  font-weight: 100;
  font-size: 55px;
  letter-spacing: 2px;
  margin: 30px 0;
}

/* Este va a ser el estilo general para los botones. Por eso no le asignamos tamaño */
/* Como el tamaño de cada botón no tiene por qué ser el mismo, se asigna dicho tamaño en su momento  */
.btn {
  background: var(--color-primario);
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 5px;

  /* Vamos a aplicarle un efecto cuando pasemos el cursor por encima */
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(1.1);
  background: var(--color-secundario);
}

/** MENU PRINCIPAL */
.menu-principal {
  width: 100%;
  height: 50px;
  background: #fff;

  /* Esto solo como guía para trabajar */
  /* border-bottom: 1px solid #dedede; */
}

.menu-principal div {
  float: left;
}

/* Indicamos que el contenedor de la imagen debe respetar el alto del contenedor del menú (los 50px) */
.nav-imagen {
  height: 100%;
}

/* Pero no lo respeta porque la imagen sobrepasa el contenedor. Hay que darle 
estilos a esa imagen  */
.nav-imagen img {
  /* Indico que la imagen ocupe el 50% del ancho del div */
  width: 50%;
  /* Y ahora centro la imagen */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-enlaces a {
  /* Estos 50px corresponden al alto de .menu-principal. Con esto lo centro */
  line-height: 50px;

  margin: 0 20px;
  color: #000;
  padding: 4px 10px;

  /* Para el recuadro al hacer hover con el cursor */
  /* Este border es el mismo de .nav-enlaces a:hover, para ya tener el borde creado. Si se crea en el hover, el elemento crece en 2px y se mueven todos los elementos, quedando mal */
  border: 2px solid transparent;
  transition: all 0.5s;
}

/* El uso de la clase active/deactive se trabaja con Javascript */
.nav-enlaces a.active {
  color: var(--color-primario);
}

.nav-enlaces a:hover {
  border: 2px solid var(--color-primario);
}

/** HEADER  */
header {
  width: 100%;

  /* A la altura, le restamos los 50px de alto que ocupa el menú. Evitamos barra de scroll */
  height: calc(100vh - 50px);

  /* Este position relative es para que luego en header::before, usar position: absolute y poder moverme por este contenedor */
  position: relative;

  background: url('img/wallpaper2.jpg');

  /* Centrar imagen */
  /* Usamos fixed para que, al hacer scroll en la web, la imagen quede fija */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Hacer la imagen más oscura para resaltar el texto h1 */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  /* El before abarca todo el espacio de la imagen del header */
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.3);
}

/* Vamos a darle un tamaño al div para poder centrarlo. Con este se centran sus hijos */
header div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 100;
  margin: 20px 0;
  text-shadow: 5px 0 10px #000;
}

/* Tamaño de botón del header. Coge los estilos generales. */
header button {
  width: 180px;
  height: 50px;
}

/** PRODUCTOS */
.productos {
  padding: 30px 100px;
}

.card {
  position: relative;
  width: 33%;
  height: 420px;
  background: var(--color-oscuro);

  /* Los elementos que sobresalgan de este width-height no se visualizan */
  overflow: hidden;

  /* Para que los elementos aparezcan uno al lado del otro */
  float: left;

  border: none;

  /* Para despegar las imágenes */
  margin: 1px;
}

.card::before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--color-primario);
  transform: skewY(345deg);
  transition: all 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: 'Technology';
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.1);
}

.card .img-card {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* El contenedor abarca el 100% */
  width: 100%;
}

.card .img-card img {
  /* Para centrar la imagen con respecto al contenido */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 70%;

  transition: all 0.5s;
}

.card:hover .img-card img {
  max-width: 60%;
}

/* Posición del content-card*/
.content-card {
  width: 100%;
  position: absolute;
  bottom: 12%;
  text-align: center;
  /* z-index: 1; */
}

.content-card h3 {
  /* Con viewport width (vw) el tamaño es responsive */
  font-size: 2vw;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content-card .price {
  font-size: 30px;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content-card .buy {
  position: relative;

  /* No queremos que el botón se vea */
  /* El botón lo tiramos 200px hacia abajo */
  /* Como la card tiene un overflow: hidden, también esto hace que no se vea */
  /* Además, su opacity es 0, aunque esto es por motivos estéticos. Ver .card:hover */
  top: 200px;
  opacity: 0;

  padding: 10px 30px;
  margin-top: 15px;
}

.card:hover .content-card .buy {
  top: 20px;

  /* Indicamos el opacity a 1 para que, en conjunción con el opacity:0 de arriba, vaya de transparente hacia el color, viéndose mucho mejor */
  opacity: 1;
}

/** MENSAJE */
.mensaje {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 400px;
  background: url('img/section.jpg');
  background-attachment: fixed;
  background-position: left;
  background-size: auto;
  margin-top: 50px;
}

/* Transparencia negra para que el texto resalte */
/* Se llama overlay y es parecido a lo que hicimos en el header */
.mensaje::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.mensaje p {
  width: 100%;

  /* Centrar horizontalmente */
  text-align: center;

  /* Para poder centrarlo verticalmente */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Estilos de texto */
  color: #fff;
  font-size: 65px;
  font-weight: 100;
  text-shadow: 5px 0 10px #000;
}
