* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.grid-container {
  height: 100vh;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    'item1   item1     item2     item3'
    'item4   item5     item2     item6'
    'item4   titulo    titulo    titulo';
}

.item {
  opacity: 0.8;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
  transition: all 0.2s;
}

.item:hover {
  opacity: 1;
}

.item:nth-child(1) {
  grid-area: item1;
  background: #e53935;
}

.item:nth-child(2) {
  grid-area: item2;
  background: #0d47a1;
}

.item:nth-child(3) {
  grid-area: item3;
  background: #fbc02d;
}

.item:nth-child(4) {
  grid-area: item4;
  background: #1e88e5;
}

.item:nth-child(5) {
  grid-area: item5;
  background: #43a047;
}

.item:nth-child(6) {
  grid-area: item6;
  background: #e53935;
}

.item:nth-child(7) {
  grid-area: titulo;
  background: #555;
}

.item img {
  width: 100px;
  transition: all 0.5s;
}

.item:hover img {
  transform: scale(1.2);
}

.item h3 {
  margin: 10px 0;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.item p {
  line-height: 20px;
}

.item h1 {
  /* Hacemos el texto responsive */
  font-size: 15vmin;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/** MEDIA QUERY */

/* En pantallas pequeñas ponemos los elementos en dos
   columnas para que se vean mejor. */
@media screen and (max-width: 750px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'titulo   titulo'
      'item1    item2'
      'item3    item4'
      'item5    item6';
  }

  .item {
    padding: 50px;
  }
}

/* En pantallas muy pequeñas ponemos los elementos en una
   columnas para que se vean mejor. */
@media screen and (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'titulo'
      'item1'
      'item2'
      'item3'
      'item4'
      'item5'
      'item6';
  }

  .item {
    padding: 50px;
  }
}
